<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProfileAPI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body class="bg-light">
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Java Springboot App</h1>
        <p class="lead">Landing page for your user profiles API</p>
        <hr class="my-4">
        <p>
            Explore the profiles using the
            <a class="btn btn-primary btn-lg" href="/profiles" role="button">View Profiles</a> endpoint.
        </p>
        <a class="btn btn-success btn-lg" href="/upload.html" role="button">Upload Profile</a>

        <div class="form-group mt-3">
            <label for="profileName">Enter Profile Name:</label>
            <input type="text" class="form-control" id="profileName" placeholder="Enter profile name">
        </div>

        <button class="btn btn-info btn-lg" onclick="downloadProfile()">Download Profile</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
    function downloadProfile() {
        var profileName = document.getElementById('profileName').value;

        // Redirect to the download endpoint with the entered profile name
        window.location.href = '/download/' + encodeURIComponent(profileName);
    }
</script>
</body>

</html>
